* {
  margin: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.cover {
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cover h1 {
  margin-top: 0;
}

.cover p {
  margin-top: 10px;
  color: #666;
}

.cover input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cover button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.alt {
  color: #ea5607;
}

.numberUlke input{
  width:70%;
}
.number input{
  width:30%;
}
